@import '../../index';

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.login__card {
  padding: 10px;
  font-family: 'Roboto Light', sans-serif;
  width: 350px;
  border-radius: 10px;


  & button {
    width: 50%;
    border-radius: 5px;
    outline: none;

  }

  & h2 {
    padding: 10px 0 10px 10px;
  }

  & a {
    text-decoration: none;
  }


  & .form {
    height: 35px;
    border: none;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    padding: 0;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    text-align: center;
  }

  & label {
    height: 100%;
    margin: 0;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
  }

  & input {
    font-size: 16px;
    padding-left: 5px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

  }

  @media screen and (max-width: 768px) {
    width: 50%;
  }

  @media screen and (max-width: 600px) {
    width: 70%;
  }

  @media screen and (max-width: 430px) {
    width: 80%;

    & h2 {
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
    }

    & form {

      & input {
        font-size: 12px;
      }
    }
  }
}