@import '../index';

.light {
  transition: background-color .5s;
  background-color: white;

  & .login__card_theme {
    transition: background-color .5s;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    & button {
      border: 1px solid $color_secondary;
      background-color: $color_success;
      color: $color_lite;
      transition: .3s background-color;

      &:active {
        transition: .1s background-color ease;
        background-color: $color_success_press;
      }
    }

    & h2 {
      border-bottom: 1px solid $color_secondary;
    }

    & a {
      color: $color_info_light;

      &:active {
        color: $color_info_press_light
      }
    }

    & .form_theme {
      background-color: $color_lite;
      box-shadow: 0 0 2px $color_secondary;
      transition: .2s box-shadow ease-in, background-color .5s;

      & .label {
        color: $color_primary
      }

      &.form_wrong_theme {
        box-shadow: 0 0 2px $color_danger;

        &:hover {
          box-shadow: 0 0 2px $color_danger;
          transition: .2s box-shadow ease-in;
        }
      }

      &:hover {
        box-shadow: 0 0 5px $color_secondary;
        transition: .2s box-shadow ease-in;
      }

      & input {
        transition: background-color .5s;
        background-color: $color_lite;
        color: $color_primary;

        &::placeholder {
          color: $color_primary
        }
      }
    }
  }

  & .navbar-app {
    background-color: #f1f3f8;
    transition: .5s background-color;

    & .navbar-app__brand-body {
      & .navbar-app__brand {
        color: $color_success
      }
    }


    & .navbar-app__body {
      & .navbar-app__items {
        & .navbar-app__login-body {
          border: 1px solid $color_success;
          background-color: #f1f3f8;
          transition: .3s background-color;
          cursor: pointer;

          & .navbar-app__login {
            transition: .3s color;
            color: black;
          }

          &:hover {
            transition: .3s background-color, color;
            background-color: $color_success;
            color: white;

            & .navbar-app__login {
              transition: .3s color;
              color: white;
            }
          }

          &:active {
            background-color: $color_success_press;
          }
        }

        & .navbar-app__register {
          color: gray;
          padding-right: 20px;
        }
      }
    }
  }
}